input{
    border-radius: 10px;
    height: 30px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    cursor: pointer;
    font-weight: bold;
    border-radius: 12px;
    padding: 5px;
    color: white;
}

.removeButton{
    background-color: rgb(165, 43, 43);
}

.addButton{
    background-color: rgb(39, 39, 202);
    width: 15%;
}